body {
  font-size: 16px;
  line-height: 1.6;
  padding: 2em;
}

body > *:first-child {
  margin-top: 0 !important;
}

body > *:last-child {
  margin-bottom: 0 !important;
}

blockquote {
  border-left: 4px solid #ddd;
  padding: 1em;
  color: #777;
}

blockquote > :first-child {
  margin-top: 0 !important;
}

blockquote > :last-child {
  margin-bottom: 0 !important;
}

hr {
  border: 1px inset #ccc;
}

table {
  border-collapse: collapse;
}

tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

td {
  padding: 4px 8px;
}

figure {
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

pre {
  margin: 4px;
  overflow: auto;
}

code {
}
